<div id="contact_us" class="elev_contact_container">
    <div class="elev_contact_card">
        <h2 class="elev_contact_heading">Contact Us</h2>
        <hr>
        <form action="/.netlify/functions/mailer" name="contactForm" method="POST" netlify-honeypot="love"
            id="contact-form" class="contact-form">
            <p class="screen-reader-text">
                <label>Don't fill this out if you're human: <input name="love" /></label>
            </p>
            <p class="form-row name">
                <label class="form-label">Name *</label>
                <input type="text" name="name" placeholder="Your name..." class="form-input">
            </p>
            <p class="form-row email">
                <label class="form-label">Email *</label>
                <input type="email" name="email" placeholder="Your email address..." class="form-input">
            </p>
            <p class="form-row">
                <label class="form-label">Message *</label>
                <textarea name="message" placeholder="Your message..." class="form-textarea" rows="7"></textarea>
            </p>
            <input type="hidden" name="form-name" value="contactForm" />
            <p class="form-row submit">
                <button type="submit" class="button">Send Message</button>
            </p>
        </form>
    </div>

    {{ partial "links.html" . }}
</div>