
  <div class="swiper2-container">
    <div class="swiper-wrapper">
      {{ $gallery := .Site.GetPage "/gallery" }}
      {{ with $gallery.Resources.ByType "image" }}
      {{ range . }}
      <img src="/images/logo.svg" class="swiper-slide" data-src="{{ (.Resize "400x q75").RelPermalink }}">
      {{ end }}
      {{ end }}
     
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <script>
    function init() {
        var imgDefer = document.getElementsByTagName('img');
        for (var i = 0; i < imgDefer.length; i++) {
            if (imgDefer[i].getAttribute('data-src')) {
                imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
            }
        }
    }
    window.onload = init;
</script>