:root {
    --swiper-theme-color: rgb(0, 140, 255);
}

.swiper2-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
  
    }
  }
