{{ define "content" }}

<div class="elev_hero">
  <div class="elev_text">
    <h2><span></span>{{.Site.Data.details.hero_one_header}}</h2>
    <p>
      {{.Site.Data.details.hero_one}}
    </p>
    <button onclick="window.location = '/about/'">Learn More</button>
  </div>

  {{partial "slider.html" .}}
  
</div>

{{ partial "slider2.html" . }}

<div class="elev_hero_two">
  <div class="elev_text">
    <h2><span></span>{{.Site.Data.details.hero_two_header}}</h2>
    <p>
      {{.Site.Data.details.hero_two}}
    </p>
    <button onclick="window.location = '/about/'">Learn More</button>
  </div>

  {{partial "slider.html" .}}
  
</div>

{{ end }}