{{ define "content" }}

<div class="elev_hero other_pages">
  <div class="elev_headline">{{.Params.title}}</div>
  <div class="elev_description">
    <p>
    {{.Params.subtitle}}
    </p>
  </div>
  {{partial "slider.html" .}}
</div>

<div class="elev_page_content">
  {{.Content}}
</div>


<!-- Pagination TBD -->
<!--
  <nav class="pagination">
    <div class="nav-links">
      <a class="older-posts button circle" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
      <span class="page-number">Page X of Y</span>
      <a class="newer-posts button circle" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
    </div>
  </nav>
  -->

{{ end }}