{{ define "content" }}

  <article class="post post-full elev_padder">
    <header class="post-header">
      <div class="post-meta">
        <address class="author">By <a rel="author" href="https://mikeck.elevatika.com">Mike CK</a></address>
      </div>
      <h1 class="post-title">{{ .Params.title }}</h1>
    </header><!-- .post-header -->
    {{ if .Params.subtitle }}
    <div class="post-subtitle">
      {{ .Params.subtitle | safeHTML }}
    </div><!-- .post-subtitle -->
    {{ end }}
    {{ if .Params.thumbnail }}
    <div class="post-thumbnail">
      <img class="thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Params.title }} Elevatika, Best Websites and Graphic Design in Kenya, USA, Canada, Europe and Australia" />
      <b>
        <em>{{ .Params.description }}</em>
      </b>
    </div>
    {{ end }}
   

    <div class="post-content">
      
      {{ .Content | safeHTML }}
      <hr>
      <!-- {{ template "_internal/disqus.html" . }} -->
    </div><!-- .post-content -->
  </article><!-- .post -->

{{ end }}
